{% extends "base.html" %}
{% import "snippets.html" as snippets with context %}
{% import theme("utils.html") as utils %}
{% set logo = snippets.logo() %}
{% set before_header = snippets.before_header() %}
{% set after_header = snippets.after_header() %}
{% set before_footer = snippets.before_footer() %}
{% set after_footer = snippets.after_footer() %}
{% set license_info = snippets.license_info() %}
{% set creditlogos = snippets.creditlogos() %}
{% set credits = snippets.credits() %}
{% block layout %}
    <!-- Navigation Block -->
    <div class="container">
    <div class="top-nav">
        <!-- Top Navigation -->
        <nav class="navbar navbar-inverse moin-topnav">
            <div class="container-fluid moin-topnav-container" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-menu">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <a class="navbar-brand moin-logo" href="/" >
                        <div class="row">
                            {{ logo }}
                            {{ cfg.sitename }}
                        </div>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="side-menu">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search" action="+search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="q">
                            </div>
                            <button type="submit" class="btn btn-default">
                                Submit
                            </button>
                        </form>
                        {% if user.valid -%}
                            {% set avatar = user.avatar(20) %}
                            {% if avatar %}
                                <img id="moin-avatar" src="{{ avatar }}" />
                        {%- endif %}
                        {% if user.name -%}
                            {% set wiki_href, display_name, title, exists = theme_supp.userhome() %}
                            <li>
                                <a href="{{ wiki_href }}" {% if not exists %}class="moin-nonexistent"{% endif %} rel="nofollow" title="{{ title }}">
                                {{ display_name }}</a>
                            </li>
                            {% if 'frontend.usersettings' not in cfg.endpoints_excluded -%}
                                <li>
                                    <a href="{{ url_for('frontend.usersettings') }}" class="moin-usersettings" rel="nofollow">
                                        {{ _('Settings') }}
                                    </a>
                                </li>
                            {%- endif %}
                        {%- endif %}
                                    {% if user.auth_method in cfg.auth_can_logout %}
                                        <li>
                                            <a href="{{ url_for('frontend.logout', logout_submit=1) }}" class="moin-logout" rel="nofollow">
                                                {{ _('Logout') }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    {% set login_url = theme_supp.login_url() %}
                                    {% if login_url %}
                                        <li>
                                            <a href="{{ login_url }}" class="moin-login" rel="nofollow">
                                                {{ _('Login') }}
                                            </a>
                                        </li>
                                    {% endif %}
                        {%- endif %}
                   </ul>
                </div>
            </div>
        </nav>

                    <!-- Sub menu navigation tabs-->
                    <div role="tabpanel" class="submenu">
                        {% set navibar_items = theme_supp.navibar(fqname) %}
                        {% if navibar_items %}
                            <ul class="nav nav-tabs moin-panel" role="tablist">
                                {% for cls, url, text, title in navibar_items %}
                                    <li role="presentation">
                                        <a href="{{ url }}" >
                                            {{ text }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <!-- Item Views -->
                    <div role="tabpanel" class="itemviews" >
                        {% block header_itemviews %}{% endblock %}
                    </div>
                </div>
                <!-- Wiki Body -->
                <div class="row">
                    <div class="container">
                        {% block item -%}
                            {# If you want itemviews in your template, extend from show.html, not from here. #}
                            <div id="moin-content">
                                <div id="moin-flash">
                                    {# client side javascript may add messages here #}
                                    {% for category, msg in get_flashed_messages(with_categories=true) %}
                                        <p class="moin-flash moin-flash-{{ category }}">
                                            {{ msg }}
                                        </p>
                                    {% endfor %}
                                </div>
                                {% block content %}
                                    {# All content templates should have implement this block. #}
                                {% endblock %}
                            </div>
                        {%- endblock %}
                    </div>
                </div>
    </div>
{% endblock %}
